<!DOCTYPE html>
<html>
  <head>
    <title>Great Books App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Books to Read</h1>
        <p><%= link_to 'Back', root_path %></p>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
